<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nepal Shopping Guide</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Nepal Shopping Guide Logo">
        </div>
    </nav>

    <section class="sites-list-section">
        <h2>Our supported sites</h2>
        <div class="sites-list-container">
            <div class="sites-list">
                <img src="{{ url_for('static', filename='images/daraz_logo.png') }}" alt="Daraz logo">
            </div>
            <div class="sites-list">
                <img src="{{ url_for('static', filename='images/sastodeal_logo.png') }}" alt="Sastodeal logo">
            </div>
            <div class="sites-list">
                <img src="{{ url_for('static', filename='images/hamrobazar_logo.png') }}" alt="Hamrobazar logo">
            </div>
        </div>
    </section>
</body>

</html>