<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ramro Deals</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>

<body>
    <nav id="top-id">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Nepal Shopping Guide Logo">
        </div>
    </nav>
    <section id="search">
        <div class="search-bar-holder">
            <form action="/search" method="GET">
                <input name="searchtext" id="search-input" size="40" type="text">
                <button id="search-button" type="submit">Search</button>
            </form>
        </div>
    </section>
    <footer id="footer1">
        <section class="sites-list-section">
            <h2>Supported Sites</h2>
            <div class="sites-list-container">
                <div class="sites-list">
                    <img src="{{ url_for('static', filename='images/daraz_logo.png') }}" alt="Daraz logo">
                </div>
                <div class="sites-list">
                    <img src="{{ url_for('static', filename='images/hamrobazar_logo.png') }}" alt="Hamrobazar logo">
                </div>
                <div class="sites-list">
                    <img src="{{ url_for('static', filename='images/sastodeal_logo.png') }}" alt="Sastodeal logo">
                </div>
            </div>
        </section>
        <div class="bottom-bar">
            <a href="https://github.com/hexmo/ramro-deals" target="_blank">Github</a>
        </div>
    </footer>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>

</html>