/* commom */

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
}

/* navigation bar */

nav {
    padding: 0.5em;
    text-align: center;
}

.logo img {
    height: 2em;
}

/* section */

section {
    margin: 0 10%;
}

/* filter */

.filter {
    text-align: end;
}

/*  product card container*/

#product-display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

/* product card */

.product-card {
    border-radius: 2px;
    width: 23%;
    margin-top: 1em;
    background-color: white;
}

.product-card:hover{
    box-shadow: thistle;
}

.product-image {
    width: 100%;
    border-radius: 0.25em;
}

.product-name{
    font-size: 14px;
    margin: 5px 5px;
    font-weight: 300;
}

.product-price{
    font-size: 13px;
    margin: 0 5px 5px 5px;
    color: #FF6600;
}

.product-link{
    font-size: 13px;
    margin: 5px;
    width: 100%;
    text-decoration: none;
}

.product-link:hover{
    color: teal;
}

.price-vendor-container{
    margin-bottom: 10px;
    position: relative;
    bottom:0;
}


/* pagination */
#pagination-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination-button{
    color: white;
    padding: 5px;
    margin: 1em 0.25em;
    border-radius: 20%;
    background-color: #868585;
    cursor: pointer; 
}

.pagination-button:hover{
    background-color: #413b3b;
}

.active{
    background-color: #000000;
}